/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #fff;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Montserrat', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

section {
  margin-bottom: 30px;
}

.container {
  width: 428px;
  max-width: 100%;
  padding: 0 32px;
  margin: auto;
}

.header img{
  width: 100%;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 36.57px;
  color: #373737;
}

.home__conetnt {
  margin: 14px 0 15px 0;
  display: flex;
  justify-content: center;
}

.home__price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #373737;
}
.home__currency, .home__price {
  font-weight: 700;
  font-size: 25px;
}

.home__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: #F2F7F9;
  border-radius: 25px;
  padding: 5px;
  margin: 15px 0 15px;
}

.home__tab, .home__tabs-size, .deliver__tab {
  width: 108px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  color: #373737; 
  cursor: pointer;
}

.home__content-img {
  /* display: none; */
}
.home__content-img.active, .home__tabs-size.active, .deliver__tab.active{
  display: flex;
}
.home__tab.active, .home__tabs-size.active, .deliver__tab.active {
  background-color: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06); 
}
.small__tabs {
  height: 50px;
}
.small__tab {
  height: 40px; 
}
.deliver__content {
  margin: 15px 0 15px;
}
.deliver__tabs {
  height: 50px;
}
.deliver__content-img {
  display: none;
}
.deliver__content-img.active {
  display: flex;
}
.deliver__tab {
  height: 40px;
  width: 167px;
  font-size: 13px;
}
.quantity__sum {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.deliver__title {
  margin: 30px 0 0;
}
.quantity__result {
  background-color: #F2F7F9;
  height: 65px;
  width: 65px;
  padding: 3px;
  border-radius: 17px;
}
.quantity_title {
  margin: 30px 0 15px;
}
.quantity__numbre {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  color: #373737; 
}
.carts {
  margin: 0 0 153px;
}
.cart {
  width: 175px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-radius: 24px;
  border: 3px solid #F2F7F9;
  background: #FFF; 
  padding: 24px;
}

.cart img {
  max-width: 175px;
}

.cart__sum {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart__minus img, .cart__plus img {
  width: 35px;
  height: 35px;
}
.cart__result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 8.94px;
  border: 1.578px solid #F2F7F9;
  background: #FFF; 
  color: #373737;
}
.cart__name {
  font-size: 13px;
  font-weight: 500;
  line-height: normal; 
  color: #373737;
}
.cart__valut {
  font-size: 8px;
  font-weight: 700;
  line-height: normal; 
}

.cart__price-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.cart__price-inner span {
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  color: #373737; 
}
.cart_title {
  margin: 30px 0 14px;
}
.cart__wrapper {
  display: flex;
  gap: 14px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  /* height: 130px; */
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  padding: 40px 0 50px;
}
.footer__btn-wrapper {
  display: flex;
  gap: 14px;

}
.footer__items {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #373737;
  font-size: 13px;
}
.footer__items-price {
  font-weight: 700;
  line-height: normal; 
}
.footer__btn {
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  color: #393939; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  border-radius: 14px;
  border: 1px solid #393939;
  width: 175px;
  height: 40px;
}